html {
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
}
header, footer, aside, nav { background-color: #FF0; }
header, footer { text-align: center; }

.header {
	font-size: 46px;
	background-color: magenta;
}

.footer {
	font-size: 10px;
	background-color: magenta;
}

.content { font-size: 14px; }

.navigation {
	font-size: 12px;
	background-color: blue;
}

.sidebar {
	font-size: 10px;
	background-color: magenta;
}