html {
	font-family: Arial;
	font-size: 14px;
	text-align: center;
}

header { 
	background-color: #CCC;
}

nav, section, aside {
	float:left;
	width: 33%;
}

header, nav, section, aside, footer, article {
	padding: 20px 0 20px 0;
}

nav {
	background-color: #F00;
}

section {
	background-color: #0F0;
}

aside {
	background-color: #00F;
}

footer {
	clear: both;
	background-color: #999;
}